#name_section {
	border-width: 0;
	font-family: "Times New Roman", Times, serif;
	font-size: xx-large;
	text-align: left;
	text-decoration-style: None;
	color: white
}

#header {
	border-width: 0;
	width: 100%;
	padding: 100;
	border-spacing: 0;
	background-color: #92a8d1;
	color: white;
	
}

#table {
	border-width: 0;
	width: 100%;
	padding: 25;
	border-spacing: 0;
	background-color: #92a8d1;
	align-content: center;
	color: white
}

#nav{
	border-width: 0;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: x-large;
	text-align: left;
	text-decoration-style: None;	
	color:white
}

#profile_pic{
	width: 40%;
    display: block;
    margin: 10px auto;
    max-width: 250px;

}
#profile_text{
	width: 60%;

}
